# dependencies
/node_modules
/frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage
/frontend/coverage

# next.js
/.next/
/frontend/.next/
/out/
/frontend/out/
.next

# production
/build
/frontend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
/frontend/.env*.local
/frontend/.env

# vercel
.vercel
/frontend/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

# IDE
.idea
.vscode

# Supabase
.supabase/ 